### Importación de datos

In [42]:
import pandas as pd

url = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_1%20.csv"
url2 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_2.csv"
url3 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_3.csv"
url4 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_4.csv"

tienda = pd.read_csv(url)
tienda2 = pd.read_csv(url2)
tienda3 = pd.read_csv(url3)
tienda4 = pd.read_csv(url4)

tienda.head()

,Producto,Categoría del Producto,Precio,Costo de envío,Fecha de Compra,Vendedor,Lugar de Compra,Calificación,Método de pago,Cantidad de cuotas,lat,lon
0,Asistente virtual,Electrónicos,164300.0,6900.0,16/01/2021,Pedro Gomez,Bogotá,4,Tarjeta de crédito,8,4.60971,-74.08175
1,Mesa de comedor,Muebles,192300.0,8400.0,18/05/2022,Beatriz Morales,Medellín,1,Tarjeta de crédito,4,6.25184,-75.56359
2,Juego de mesa,Juguetes,209600.0,15900.0,15/03/2021,Juan Fernandez,Cartagena,1,Tarjeta de crédito,1,10.39972,-75.51444
3,Microondas,Electrodomésticos,757500.0,41000.0,03/05/2022,Juan Fernandez,Cali,4,Nequi,1,3.43722,-76.52250
4,Silla de oficina,Muebles,335200.0,20200.0,07/11/2020,Maria Alfonso,Medellín,5,Nequi,1,6.25184,-75.56359

#1. Análisis de facturación

In [43]:
tienda.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2359 entries, 0 to 2358
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Producto                2359 non-null   object
 1   Categoría del Producto  2359 non-null   object
 2   Precio                  2359 non-null   float64
 3   Costo de envío          2359 non-null   float64
 4   Fecha de Compra         2359 non-null   object
 5   Vendedor                2359 non-null   object
 6   Lugar de Compra         2359 non-null   object
 7   Calificación            2359 non-null   int64
 8   Método de pago          2359 non-null   object
 9   Cantidad de cuotas      2359 non-null   int64
 10  lat                     2359 non-null   float64
 11  lon                     2359 non-null   float64
dtypes: float64(4), int64(2), object(6)
memory usage: 221.3+ KB

### Ingresos Totales por cada Tienda

In [63]:
ingreso_total = tienda["Precio"].sum()
print(f"Ingreso total de la tienda 1: ${ingreso_total:,.2f}")

Ingreso total de la tienda 1: $1,150,880,400.00

In [62]:
ingreso_total2 = tienda2["Precio"].sum()
print(f"Ingreso total de la tienda 2: ${ingreso_total2:,.2f}")

Ingreso total de la tienda 2: $1,116,343,500.00

In [61]:
ingreso_total3 = tienda3["Precio"].sum()
print(f"Ingreso total de la tienda 3: ${ingreso_total3:,.2f}")

Ingreso total de la tienda 3: $1,098,019,600.00

In [60]:
ingreso_total4 = tienda4["Precio"].sum()
print(f"Ingreso total de la tienda 4: ${ingreso_total4:,.2f}")

Ingreso total de la tienda 4: $1,038,375,700.00

# 2. Ventas por categoría

Descripción

En este debes calcular la cantidad de productos vendidos por categoría en cada tienda. La idea es agrupar los datos por categoría y contar el número de ventas de cada tipo, mostrando las categorías más populares de cada tienda.

In [48]:
tienda.head(3)

,Producto,Categoría del Producto,Precio,Costo de envío,Fecha de Compra,Vendedor,Lugar de Compra,Calificación,Método de pago,Cantidad de cuotas,lat,lon
0,Asistente virtual,Electrónicos,164300.0,6900.0,16/01/2021,Pedro Gomez,Bogotá,4,Tarjeta de crédito,8,4.60971,-74.08175
1,Mesa de comedor,Muebles,192300.0,8400.0,18/05/2022,Beatriz Morales,Medellín,1,Tarjeta de crédito,4,6.25184,-75.56359
2,Juego de mesa,Juguetes,209600.0,15900.0,15/03/2021,Juan Fernandez,Cartagena,1,Tarjeta de crédito,1,10.39972,-75.51444

In [49]:
#ventas_por_categoria = tienda.groupby("Lugar de Compra")[["Categoría del Producto"]].value_counts()\
                             #.reset_index(name='Cantidad de Ventas')\
                             #.sort_values(by='Cantidad de Ventas', ascending=False)
#ventas_por_categoria.head()

In [50]:
print("Tienda Numero 1")
ventas_por_categoria = tienda.groupby("Categoría del Producto")[["Categoría del Producto"]].value_counts()\
                             .reset_index(name='Cantidad de Ventas')\
                             .sort_values(by='Cantidad de Ventas', ascending=False)
ventas_por_categoria.head()

Tienda Numero 1

  Categoría del Producto  Cantidad de Ventas
7                Muebles                 465
3           Electrónicos                 448
5               Juguetes                 324
2      Electrodomésticos                 312
1   Deportes y diversión                 284

In [51]:
print("Tienda Numero 2")
ventas_por_categoria2 = tienda2.groupby("Categoría del Producto")[["Categoría del Producto"]].value_counts()\
                               .reset_index(name='Cantidad de Ventas')\
                               .sort_values(by='Cantidad de Ventas', ascending=False)
ventas_por_categoria2.head()

Tienda Numero 2

  Categoría del Producto  Cantidad de Ventas
7                Muebles                 442
3           Electrónicos                 422
5               Juguetes                 313
2      Electrodomésticos                 305
1   Deportes y diversión                 275

In [52]:
print("Tienda Numero 3")
ventas_por_categoria3 = tienda3.groupby("Categoría del Producto")[["Categoría del Producto"]].value_counts()\
                               .reset_index(name='Cantidad de Ventas')\
                               .sort_values(by='Cantidad de Ventas', ascending=False)
ventas_por_categoria3.head()

Tienda Numero 3

  Categoría del Producto  Cantidad de Ventas
7                Muebles                 499
3           Electrónicos                 451
5               Juguetes                 315
2      Electrodomésticos                 278
1   Deportes y diversión                 277

In [54]:
print("Tienda Numero 4")
ventas_por_categoria4 = tienda4.groupby("Categoría del Producto")[["Categoría del Producto"]].value_counts()\
                               .reset_index(name='Cantidad de Ventas')\
                               .sort_values(by='Cantidad de Ventas', ascending=False)
ventas_por_categoria4.head()

Tienda Numero 4

  Categoría del Producto  Cantidad de Ventas
7                Muebles                 480
3           Electrónicos                 451
5               Juguetes                 338
1   Deportes y diversión                 277
2      Electrodomésticos                 254

# 3. Calificación promedio de la tienda

# 4. Productos más y menos vendidos

# 5. Envío promedio por tienda