### Importación de datos

In [177]:
import pandas as pd

url = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_1%20.csv"
url2 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_2.csv"
url3 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_3.csv"
url4 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_4.csv"

tienda = pd.read_csv(url)
tienda2 = pd.read_csv(url2)
tienda3 = pd.read_csv(url3)
tienda4 = pd.read_csv(url4)

tienda.head()

,Producto,Categoría del Producto,Precio,Costo de envío,Fecha de Compra,Vendedor,Lugar de Compra,Calificación,Método de pago,Cantidad de cuotas,lat,lon
0,Asistente virtual,Electrónicos,164300.0,6900.0,16/01/2021,Pedro Gomez,Bogotá,4,Tarjeta de crédito,8,4.60971,-74.08175
1,Mesa de comedor,Muebles,192300.0,8400.0,18/05/2022,Beatriz Morales,Medellín,1,Tarjeta de crédito,4,6.25184,-75.56359
2,Juego de mesa,Juguetes,209600.0,15900.0,15/03/2021,Juan Fernandez,Cartagena,1,Tarjeta de crédito,1,10.39972,-75.51444
3,Microondas,Electrodomésticos,757500.0,41000.0,03/05/2022,Juan Fernandez,Cali,4,Nequi,1,3.43722,-76.52250
4,Silla de oficina,Muebles,335200.0,20200.0,07/11/2020,Maria Alfonso,Medellín,5,Nequi,1,6.25184,-75.56359

#1. Análisis de facturación

In [178]:
tienda.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2359 entries, 0 to 2358
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Producto                2359 non-null   object
 1   Categoría del Producto  2359 non-null   object
 2   Precio                  2359 non-null   float64
 3   Costo de envío          2359 non-null   float64
 4   Fecha de Compra         2359 non-null   object
 5   Vendedor                2359 non-null   object
 6   Lugar de Compra         2359 non-null   object
 7   Calificación            2359 non-null   int64
 8   Método de pago          2359 non-null   object
 9   Cantidad de cuotas      2359 non-null   int64
 10  lat                     2359 non-null   float64
 11  lon                     2359 non-null   float64
dtypes: float64(4), int64(2), object(6)
memory usage: 221.3+ KB

### Ingresos Totales por cada Tienda

In [179]:
ingreso_total = tienda["Precio"].sum()
print(f"Ingreso total de la tienda 1: ${ingreso_total:,.2f}")

Ingreso total de la tienda 1: $1,150,880,400.00

In [180]:
ingreso_total2 = tienda2["Precio"].sum()
print(f"Ingreso total de la tienda 2: ${ingreso_total2:,.2f}")

Ingreso total de la tienda 2: $1,116,343,500.00

In [181]:
ingreso_total3 = tienda3["Precio"].sum()
print(f"Ingreso total de la tienda 3: ${ingreso_total3:,.2f}")

Ingreso total de la tienda 3: $1,098,019,600.00

In [182]:
ingreso_total4 = tienda4["Precio"].sum()
print(f"Ingreso total de la tienda 4: ${ingreso_total4:,.2f}")

Ingreso total de la tienda 4: $1,038,375,700.00

# 2. Ventas por categoría

Descripción

En este debes calcular la cantidad de productos vendidos por categoría en cada tienda. La idea es agrupar los datos por categoría y contar el número de ventas de cada tipo, mostrando las categorías más populares de cada tienda.

In [183]:
tienda.head(3)

,Producto,Categoría del Producto,Precio,Costo de envío,Fecha de Compra,Vendedor,Lugar de Compra,Calificación,Método de pago,Cantidad de cuotas,lat,lon
0,Asistente virtual,Electrónicos,164300.0,6900.0,16/01/2021,Pedro Gomez,Bogotá,4,Tarjeta de crédito,8,4.60971,-74.08175
1,Mesa de comedor,Muebles,192300.0,8400.0,18/05/2022,Beatriz Morales,Medellín,1,Tarjeta de crédito,4,6.25184,-75.56359
2,Juego de mesa,Juguetes,209600.0,15900.0,15/03/2021,Juan Fernandez,Cartagena,1,Tarjeta de crédito,1,10.39972,-75.51444

In [184]:
print("Top Ventas Tienda 1")
ventas_por_categoria = tienda.groupby("Lugar de Compra")["Categoría del Producto"].value_counts()\
                             .reset_index(name='Cantidad de Ventas')\
                             .sort_values(by='Cantidad de Ventas', ascending=False)
ventas_por_categoria.head()

Top Ventas Tienda 1

   Lugar de Compra Categoría del Producto  Cantidad de Ventas
15          Bogotá                Muebles                 195
16          Bogotá           Electrónicos                 162
17          Bogotá               Juguetes                 137
18          Bogotá   Deportes y diversión                 125
70        Medellín           Electrónicos                 123

In [185]:
print("Top Ventas Tienda 2")
ventas_por_categoria2 = tienda2.groupby("Lugar de Compra")["Categoría del Producto"].value_counts()\
                               .reset_index(name='Cantidad de Ventas')\
                               .sort_values(by='Cantidad de Ventas', ascending=False)
ventas_por_categoria2.head()

Top Ventas Tienda 2

   Lugar de Compra Categoría del Producto  Cantidad de Ventas
11          Bogotá                Muebles                 192
12          Bogotá           Electrónicos                 175
13          Bogotá      Electrodomésticos                 140
14          Bogotá   Deportes y diversión                 125
15          Bogotá               Juguetes                 124

In [186]:
print("Top Ventas Tienda 3")
ventas_por_categoria3 = tienda3.groupby("Lugar de Compra")["Categoría del Producto"].value_counts()\
                               .reset_index(name='Cantidad de Ventas')\
                               .sort_values(by='Cantidad de Ventas', ascending=False)
ventas_por_categoria3.head()

Top Ventas Tienda 3

   Lugar de Compra Categoría del Producto  Cantidad de Ventas
12          Bogotá           Electrónicos                 191
13          Bogotá                Muebles                 186
14          Bogotá      Electrodomésticos                 135
15          Bogotá               Juguetes                 133
65        Medellín                Muebles                 124

In [187]:
print("Top Ventas Tienda 4")
ventas_por_categoria4 = tienda4.groupby("Lugar de Compra")["Categoría del Producto"].value_counts()\
                               .reset_index(name='Cantidad de Ventas')\
                               .sort_values(by='Cantidad de Ventas', ascending=False)
ventas_por_categoria4.head()

Top Ventas Tienda 4

   Lugar de Compra Categoría del Producto  Cantidad de Ventas
11          Bogotá                Muebles                 194
12          Bogotá           Electrónicos                 181
13          Bogotá               Juguetes                 159
67        Medellín                Muebles                 122
68        Medellín           Electrónicos                 117

# 3. Calificación promedio de la tienda

Descripción

En este paso, debes calcular las calificaciones promedio de los clientes para cada tienda. El objetivo es conocer la satisfacción del cliente con los productos vendidos.

In [188]:
tienda.head(3)

,Producto,Categoría del Producto,Precio,Costo de envío,Fecha de Compra,Vendedor,Lugar de Compra,Calificación,Método de pago,Cantidad de cuotas,lat,lon
0,Asistente virtual,Electrónicos,164300.0,6900.0,16/01/2021,Pedro Gomez,Bogotá,4,Tarjeta de crédito,8,4.60971,-74.08175
1,Mesa de comedor,Muebles,192300.0,8400.0,18/05/2022,Beatriz Morales,Medellín,1,Tarjeta de crédito,4,6.25184,-75.56359
2,Juego de mesa,Juguetes,209600.0,15900.0,15/03/2021,Juan Fernandez,Cartagena,1,Tarjeta de crédito,1,10.39972,-75.51444

In [189]:
print("Calificación Promedio de Clientes por Lugar de Compra - Tienda 1")
calificacion_promedio_cliente = tienda.groupby("Lugar de Compra")["Calificación"].mean().round(2)\
                                      .reset_index(name='Satisfaccion del Cliente')\
                                      .sort_values(by='Satisfaccion del Cliente', ascending=False)
calificacion_promedio_cliente

Calificación Promedio de Clientes por Lugar de Compra - Tienda 1

   Lugar de Compra  Satisfaccion del Cliente
16          Soacha                      4.60
11           Neiva                      4.50
3      Bucaramanga                      4.39
8          Leticia                      4.16
18   Villavicencio                      4.09
2           Bogotá                      4.09
12           Pasto                      4.04
5        Cartagena                      4.04
7          Inírida                      4.00
4             Cali                      3.99
13         Pereira                      3.95
6           Cúcuta                      3.88
10        Medellín                      3.87
9        Manizales                      3.80
15     Santa Marta                      3.75
1     Barranquilla                      3.57
14        Riohacha                      3.45
0          Armenia                      3.36
17      Valledupar                      2.67

In [190]:
print("Calificación Promedio de Clientes por Lugar de Compra - Tienda 2")
calificacion_promedio_cliente2 = tienda2.groupby("Lugar de Compra")["Calificación"].mean().round(2)\
                                        .reset_index(name='Satisfaccion del Cliente')\
                                        .sort_values(by="Satisfaccion del Cliente", ascending=False)
calificacion_promedio_cliente2

Calificación Promedio de Clientes por Lugar de Compra - Tienda 2

   Lugar de Compra  Satisfaccion del Cliente
17      Valledupar                      4.75
11           Neiva                      4.33
14        Riohacha                      4.29
12           Pasto                      4.28
4             Cali                      4.25
2           Bogotá                      4.14
5        Cartagena                      4.03
8          Leticia                      4.00
0          Armenia                      4.00
6           Cúcuta                      3.98
13         Pereira                      3.95
10        Medellín                      3.92
18   Villavicencio                      3.83
9        Manizales                      3.77
1     Barranquilla                      3.72
15     Santa Marta                      3.65
3      Bucaramanga                      3.58
7          Inírida                      2.50
16          Soacha                      2.25

In [191]:
print("Calificación Promedio de Clientes por Lugar de Compra - Tienda 3")
calificacion_promedio_cliente3 = tienda3.groupby("Lugar de Compra")["Calificación"].mean().round(2)\
                                        .reset_index(name='Satisfaccion del Cliente')\
                                        .sort_values(by="Satisfaccion del Cliente", ascending=False)
calificacion_promedio_cliente3

Calificación Promedio de Clientes por Lugar de Compra - Tienda 3

   Lugar de Compra  Satisfaccion del Cliente
2           Bogotá                      4.16
4             Cali                      4.06
3      Bucaramanga                      4.04
13         Pereira                      4.04
1     Barranquilla                      4.03
16          Soacha                      4.00
10        Medellín                      4.00
12           Pasto                      4.00
18   Villavicencio                      4.00
6           Cúcuta                      3.91
5        Cartagena                      3.91
14        Riohacha                      3.77
8          Leticia                      3.76
7          Inírida                      3.75
0          Armenia                      3.57
15     Santa Marta                      3.48
11           Neiva                      3.40
17      Valledupar                      3.33
9        Manizales                      3.29

In [192]:
print("Calificación Promedio de Clientes por Lugar de Compra - Tienda 4")
calificacion_promedio_cliente4 = tienda4.groupby("Lugar de Compra")["Calificación"].mean().round(2)\
                                        .reset_index(name='Satisfaccion del Cliente')\
                                        .sort_values(by="Satisfaccion del Cliente", ascending=False)
calificacion_promedio_cliente4

Calificación Promedio de Clientes por Lugar de Compra - Tienda 4

   Lugar de Compra  Satisfaccion del Cliente
17      Valledupar                      5.00
16          Soacha                      4.50
12           Pasto                      4.20
14        Riohacha                      4.11
13         Pereira                      4.11
5        Cartagena                      4.10
2           Bogotá                      4.07
3      Bucaramanga                      4.06
6           Cúcuta                      4.00
4             Cali                      3.93
10        Medellín                      3.92
1     Barranquilla                      3.89
8          Leticia                      3.83
7          Inírida                      3.67
11           Neiva                      3.61
15     Santa Marta                      3.54
9        Manizales                      3.33
18   Villavicencio                      3.29
0          Armenia                      3.00

# 4. Productos más y menos vendidos

Descripción

En este paso, debes identificar qué productos fueron los más vendidos y los menos vendidos en cada tienda. Visualiza los resultados para que quede claro qué productos destacaron en ventas en cada tienda.

In [193]:
tienda.head(3)

,Producto,Categoría del Producto,Precio,Costo de envío,Fecha de Compra,Vendedor,Lugar de Compra,Calificación,Método de pago,Cantidad de cuotas,lat,lon
0,Asistente virtual,Electrónicos,164300.0,6900.0,16/01/2021,Pedro Gomez,Bogotá,4,Tarjeta de crédito,8,4.60971,-74.08175
1,Mesa de comedor,Muebles,192300.0,8400.0,18/05/2022,Beatriz Morales,Medellín,1,Tarjeta de crédito,4,6.25184,-75.56359
2,Juego de mesa,Juguetes,209600.0,15900.0,15/03/2021,Juan Fernandez,Cartagena,1,Tarjeta de crédito,1,10.39972,-75.51444

In [196]:
productos_mas_y_menos_vendidos = tienda["Producto"].value_counts().reset_index(name='Cantidad Vendida')
productos_mas_y_menos_vendidos.columns = ['Producto', 'Cantidad Vendida']
productos_mas_y_menos_vendidos_sorted = productos_mas_y_menos_vendidos.sort_values(by='Cantidad Vendida', ascending=False)
productos_mas_y_menos_vendidos_sorted.head()

           Producto  Cantidad Vendida
0        Microondas                60
1     TV LED UHD 4K                60
2           Armario                60
3  Secadora de ropa                58
4     Mesa de noche                56

# 5. Envío promedio por tienda